html, body {
  height: 100%;
}
* {
  box-sizing: border-box;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
#app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.footer {
  flex: 0 0 auto;
}
.content {
  background: $grayLight;
  flex: 1 0 auto;
}
